<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059134926915-biau08k136hkc0s40acr4jp1jf1669um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059134926915-biau08k136hkc0s40acr4jp1jf1669um</string>
	<key>API_KEY</key>
	<string>AIzaSyA1HeFY0IlryVvCgOjVvtCpNTDURyAMpbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1059134926915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hulunfechi</string>
	<key>PROJECT_ID</key>
	<string>hulunfechi</string>
	<key>STORAGE_BUCKET</key>
	<string>hulunfechi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059134926915:ios:42887fbb3b3a7377b2e4f6</string>
</dict>
</plist>